body {
    background-repeat: repeat;
    background-color: #F08080;
    color: gray;
    font-family: Times;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
